* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f9f9f9;
    font-family: "Heebo", sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #ff6b6b;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: left;
}

.bold {
    font-size: 44px;
    margin-bottom: 20px;
    color: #21243D;
    font-weight: 700;
}

.medium{
    font-size: 30px;
    color: #21243D;
    font-weight: 500;
}

.meta {
    margin-bottom: 20px;
    color: #21243D;
    font-size: 20px;
    font-weight: regular;
}

.meta2 {
    margin-bottom: 20px;
    color: #21243D;
    font-size: 16px;
    font-weight: regular;
}

.highlight {
    color: #8695A4; 
}

hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 20px 0;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 80px;
}

.social a {
    margin: 0 10px;
}

.footer p {
    color: #888;
    margin-top: 10px;
    font-size: 14px;
    font-weight: regular;
}
